.middle {
  background-image:
  url(
  "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Salle_de_lecture_Biblioth%C3%A8que_Mazarine_depuis_gallerie.jpg/1200px-Salle_de_lecture_Biblioth%C3%A8que_Mazarine_depuis_gallerie.jpg");
  
  height: 100vh;
  object-fit:"cover";
  width:100%;
  
  
  }
  

  .bookList{
  
    display:flex;
    flex-wrap:wrap;
    object-fit: cover;
     
  }
  form{
    display: flex;
    flex-direction: column;
    padding:5%;
    margin: 2%;
  }
  
  img{
    height:200px;
  }

  .card{
    display: flex;
    flex-wrap:wrap;
    object-fit: cover;

  }